@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/subset-Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/subset-Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/subset-Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../resources/fonts/subset-Lora-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../resources/fonts/subset-Lora-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../resources/fonts/subset-Livvic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../resources/fonts/subset-Livvic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../resources/fonts/subset-RobotoMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../resources/fonts/subset-RobotoMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font: 500 18px Raleway, sans-serif;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.scroll-animation,
.scroll-animation-once {
  opacity: 0;
}

.leftside {
  transform: translateX(-40px);
}

.rightside {
  transform: translateX(40px);
}

.upside {
  transform: translateY(-40px);
}

.downside {
  transform: translateY(40px);
}

.show-element {
  opacity: 1;
  transition: 0.5s;
  transform: translateX(0px);
}

@media (prefers-reduced-motion) {
  .show-element {
    transition: none;
  }
}
