@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/subset-Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/subset-Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/subset-Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../resources/fonts/subset-Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../resources/fonts/subset-Lora-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../resources/fonts/subset-Lora-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../resources/fonts/subset-Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../resources/fonts/subset-Livvic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../resources/fonts/subset-Livvic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../resources/fonts/subset-RobotoMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../resources/fonts/subset-RobotoMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../resources/fonts/subset-IbarraRealNova-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../resources/fonts/subset-IbarraRealNova-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../resources/fonts/subset-Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../resources/fonts/subset-Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../resources/fonts/subset-RobotoSlab-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../resources/fonts/subset-RobotoSlab-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  font: 500 18px Raleway, sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.blur {
  background: linear-gradient(to right, var(--d1), var(--d2));
  width: 100%;
  max-width: 100%;
  height: 440px;
  position: absolute;
  bottom: 0;
  z-index: -1;
  filter: blur(150px);
  opacity: 0;
  transition: opacity 1s ease;
}

.blur.active {
  opacity: 0.6;
}

.blur.marketing {
  background: linear-gradient(to right, #0056ff, #3815ff, #b415ff);
}

.blur.design {
  background: linear-gradient(to right, #ff057c, #b805ff, #440ec2);
}

.blur.website {
  background-image: linear-gradient(to right, #00ccff, #0066ff, #8000ff);
}

.blur.video {
  background: linear-gradient(to right, #960af3, #f10b0b, #e98d0c);
}

.blur.ecommerce {
  background-image: linear-gradient(to right, #0aec61, #00d9ff, #0051ff);
}

.blur.identity {
  background-image: linear-gradient(to right, #ff0011 0%, #1e00ff 100%);
}

.scroll-animation,
.scroll-animation-once {
  opacity: 0;
}

.leftside {
  transform: translateX(-40px);
}

.rightside {
  transform: translateX(40px);
}

.upside {
  transform: translateY(-40px);
}

.downside {
  transform: translateY(40px);
}

.show-element {
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(0px);
}

.tooltip {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  z-index: 20;
  color: var(--w1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 12px;
  background: var(--b1);
  border-radius: 10px;
  font-weight: 500;
  max-width: fit-content;
  line-height: 1.25rem;
  width: 100%;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee-hover:hover .marquee-content {
  animation-play-state: paused !important;
}

.marquee-decorator {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--b1);
  background: var(--b2);
}

.whatsapp {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  background: var(--b2);
  padding: 6px 20px 6px 6px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: var(--w1);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: background, color, transform, opacity;
  transition-duration: 0.2s, 0.2s, 0.5s, 0.5s;
  font-weight: 600;
}

.whatsapp img {
  width: 36px;
  height: 36px;
  padding: 10px;
  background: var(--b1);
  border-radius: 20px;
}

.whatsapp:hover {
  background: var(--w1);
  color: var(--b2);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion) {
  .show-element {
    transition: none;
  }
  .marquee-content {
    animation-play-state: paused !important;
  }
}
