header {
  background: var(--b2);
}

.header-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.header-inner img {
  max-width: 100px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.header-inner nav > ul,
.call {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 50px;
  background: var(--b1);
  padding: 18px 36px;
  border-radius: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.header-inner nav,
.call,
.logo {
  margin: 0 auto;
}

.logo {
  transition: 0.5s ease;
  max-width: 150px;
  width: 100%;
}

.logo:hover {
  opacity: 0.7;
}

.header-inner ul::before {
  transition: none;
}

.header-inner ul li a,
.call {
  text-decoration: none;
  color: var(--w1);
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.header-inner ul li {
  position: relative;
}

.header-inner nav > ul > li:nth-child(2) {
  transition-delay: 0.05s;
}

.header-inner nav > ul > li:nth-child(3) {
  transition-delay: 0.1s;
}

.header-inner nav > ul > li:nth-child(4) {
  transition-delay: 0.15s;
}

.header-inner nav > ul > li:nth-child(5) {
  transition-delay: 0.2s;
}

.header-inner ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--w1);
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}

.header-inner ul li a:hover::after {
  width: 100%;
}

.call {
  background: var(--b1);
  transition-property: background, color, transform, opacity;
  transition-duration: 0.2s, 0.2s, 0.5s, 0.5s;
}

.call:hover {
  background: var(--d1);
}

.menu-toggle {
  display: none;
  padding: 20px 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}

.call-mobile {
  display: none;
  text-align: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35), 0px 3px 1px rgba(0, 0, 0, 0.35),
    0px 4px 10px rgba(0, 0, 0, 0.25);
}

.submenu {
  position: absolute;
  list-style-type: none;
  width: fit-content;
  white-space: nowrap;
  background: var(--b1);
  border-radius: 0 0 20px 20px;
  padding: 30px;
  left: -30px;
  top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.header-inner nav ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1040px) {
  .header-inner img {
    margin: unset;
  }
  .menu-toggle {
    display: inline-block;
    color: var(--w1);
  }
  .menu-toggle::before {
    content: "";
    display: block;
    background-color: var(--w1);
    border: none;
    width: 32px;
    height: 3px;
    border-radius: 2px;
    box-shadow: 0 10px var(--w1), 0 -10px var(--w1);
  }
  nav {
    position: fixed;
    top: 0;
    right: -300px;
    padding: 50px 40px;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    transition: right 0.3s ease;
    z-index: 10;
    background: var(--b2) url(../img/svg/Andrix-menu.svg) no-repeat;
    background-size: 480px;
    background-position: bottom -55px right -145px;
  }
  .header-inner nav > ul {
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35), 0px 3px 1px rgba(0, 0, 0, 0.35),
      0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom right, var(--b1), var(--b2));
  }
  .header-inner nav > ul::before {
    display: none;
    content: "MENU";
    color: #ffffff0d;
    font-size: 5rem;
    font-weight: 800;
    position: absolute;
    width: unset;
    height: unset;
    top: -75px;
    left: -13px;
    border-radius: unset;
    display: unset;
    background: unset;
    z-index: -1;
    transition: none;
  }
  nav.show {
    right: 0;
    overflow-y: auto;
  }
  .overlay.show {
    opacity: 1;
    pointer-events: unset;
  }
  .call {
    display: none;
  }
  .call-mobile {
    display: block;
    background: linear-gradient(to bottom right, var(--bl1), var(--bl2));
    transition: --bl1 0.2s, --bl2 0.2s;
  }
  .logo {
    margin: unset;
  }
  .call-mobile:hover {
    --bl1: #0056ff;
    --bl2: #0047d6;
  }
  .submenu {
    position: unset;
    visibility: visible;
    opacity: 1;
    background: none;
    padding: 20px 0 0 0;
    white-space: unset;
    max-width: 120px;
    display: none;
  }
  .submenu.active {
    display: flex;
    margin-left: 10px;
  }
  .submenu li a {
    color: #cecece !important;
    transition: 0.2s ease;
  }
  .submenu li a::after {
    display: none !important;
  }
  .submenu li a:hover {
    color: var(--w1) !important;
  }
}
