.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
  background: linear-gradient(to bottom right, var(--b1), var(--b2));
  transition: 1s;
}

.intro-heading {
  margin-top: 10px;
  color: var(--w1);
}

.intro-heading,
.intro-subheading {
  font-size: 2.5rem;
}

.intro-subheading {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px var(--w1);
}

.intro-heading span {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.intro-heading span.active {
  bottom: 0;
  opacity: 1;
  transition: ease 0.5s;
}

.intro img {
  transform: scale(1.5);
  opacity: 0;
}

.intro img.active {
  opacity: 1;
  transform: scale(1);
  transition: 0.5s ease;
}
