.projects {
  padding: 160px 0 200px 0;
  margin-bottom: -60px;
  background: url("../img/webp/bg-paper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.projects .blur {
  opacity: 0;
  top: 0;
  margin: auto 0;
  height: 1440px;
}

.projects .blur.active {
  opacity: 0.15;
}

.projects-heading h1 {
  font-weight: 700;
  color: var(--b1);
  background: linear-gradient(
    rgba(206, 206, 206, 0.8),
    rgba(206, 206, 206, 0.3)
  );
}

.projects-heading h2 {
  color: var(--b1);
  font-weight: 400;
}

.projects-heading div {
  background: linear-gradient(rgba(227, 227, 227, 0.8), rgba(227, 227, 227, 0));
  box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.1),
    0px 30px 60px -30px rgba(0, 0, 0, 0.15),
    0px 4px 4px 0px rgba(0, 0, 0, 0.015);
  position: relative;
  z-index: 2;
}

.projects-inner {
  background: linear-gradient(#cecece70, #cecece00);
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.1),
    0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 48px rgba(17, 17, 26, 0.1);
  border-radius: 0 0 20px 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.bg-cover {
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  position: relative;
  animation: show-project 8s ease-in-out alternate infinite;
  animation-play-state: paused;
}

.project.active .bg-cover {
  filter: grayscale(0%);
  animation-play-state: running;
}

.project-start {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  opacity: 0;
  transition: 0.2s ease;
  cursor: pointer;
}

.project-start button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background: none;
  border: none;
  color: var(--w1);
  font-size: 3.5em;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
}

.project-start button:before {
  content: url(../img/svg/play.svg);
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.project.active .bg-cover .project-start button:before {
  content: url(../img/svg/pause.svg);
}

.bg-cover:hover .project-start {
  opacity: 1;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-title h3 {
  font-size: 48px;
  margin-bottom: 20px;
}

.project p {
  font-weight: 600;
  max-width: 460px;
  line-height: 1.75em;
}

.project-typography > span,
.project-colors > span,
.project-technologies span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
  margin-bottom: 15px;
}

.project-typography p span {
  font-weight: 700;
}

.color-boxes {
  display: flex;
  gap: 16px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.project.active .color-boxes {
  filter: grayscale(0%);
}

.color-boxes div {
  width: 45px;
  height: 45px;
  background: var(--b1);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.color-boxes,
.technologies-icons {
  cursor: default;
}

.color-boxes div,
.technologies-icons .section-icon {
  transition: 0.2s ease;
}

.color-boxes div:hover,
.technologies-icons .section-icon:hover {
  transform: translateY(-5px);
}

.technologies-icons {
  display: flex;
  gap: 20px;
}

.technologies-icons .section-icon {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px, rgba(0, 0, 0, 0.18) 0px 2px 6px;
}

.project-technologies {
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: space-between;
}

.project-technologies a {
  text-decoration: none;
  color: var(--w1);
  background: var(--b1);
  padding: 18px 36px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.2s ease;
  min-width: fit-content;
}

.project-technologies a:hover {
  background: var(--d1);
}

.projects-call {
  display: block;
  max-width: fit-content;
  background: #cecece60;
  padding: 18px 36px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  text-decoration: none;
  color: var(--b1);
  font-weight: 500;
  box-shadow: 0px 6px 12px -2px rgba(50, 50, 93, 0.25),
    0px 3px 7px -3px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.projects-call:hover {
  background: var(--b1);
  color: var(--w1);
}

.swiper-pagination-bullet-active {
  background: var(--b1);
}

@media (max-width: 1040px) {
  .projects-heading h2 {
    max-width: 660px;
  }
  .bg-cover {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    grid-row: 2;
  }
  .project {
    grid-template-columns: 1fr;
  }
  .project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-title {
    grid-row: span 2;
  }
  .project-technologies {
    grid-column: span 2;
  }
  .project-typography,
  .project-colors {
    text-align: right;
  }
  .project-typography {
    margin-top: 15px;
  }
  .color-boxes {
    justify-content: flex-end;
  }
}

@media (max-width: 740px) {
  .projects {
    padding: 160px 0;
  }
  .project {
    gap: 0;
  }
  .project p {
    margin: 0 auto;
  }
  .bg-cover {
    margin-bottom: 20px;
  }
  .project-info {
    grid-template-columns: 1fr;
  }
  .project-title {
    grid-row: unset;
    text-align: center;
  }
  .projects-inner {
    margin: 0 20px;
  }
  .project-typography,
  .project-colors,
  .project-technologies .technologies-inner {
    display: none;
  }
  .project-info {
    grid-row: 3;
    gap: 20px 0;
  }
  .project-technologies a {
    margin: 0 auto;
  }
}

@keyframes show-project {
  0% {
    background-position: top;
  }
  3% {
    background-position: top;
  }
  97% {
    background-position: bottom;
  }
  100% {
    background-position: bottom;
  }
}
