.intro-wrapper {
  background: var(--b2);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.intro-wrapper .blur {
  height: 200px;
}

.intro-wrapper .blur.active {
  opacity: 0.8;
}

.service-image {
  display: block;
  max-width: 1140px;
  width: 100%;
  margin: 80px auto 0 auto;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 2;
  animation: float 1s ease-in-out infinite alternate;
}

main,
.projects {
  background: url("../img/webp/bg-paper.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.service-title {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  /* box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.4),
    0px 4px 10px 0px rgba(0, 0, 0, 0.5); */

  position: relative;
  z-index: 2;
}

.service-title h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  color: var(--w1);
  background: var(--b2);
  padding: 40px;
  border-radius: 0 20px 0 0;
  max-width: fit-content;
}

.service-title h1 span {
  display: block;
  font-size: 4rem;
  font-weight: 800;
}

.service-title img {
  max-width: 140px;
  padding: 20px 30px;
  background: var(--b1);
  border-radius: 20px 0 0 0;
}

.service-description {
  background: var(--b2);
  padding: 40px 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.description-inner {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.service-description .blur {
  height: 200px;
  opacity: 0.8;
  transition: none;
}

.description-inner div {
  color: #cecece;
  border-radius: 20px;
  padding: 40px;
  max-width: 100%;
  font-size: 1.125rem;
  line-height: 2rem;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.description-inner strong {
  color: var(--w1);
}

.description-inner div:nth-child(1),
.description-inner div:nth-child(2) {
  grid-column: span 3;
}

.description-inner div:nth-child(3) {
  grid-column: span 4;
}

.service-technologies {
  grid-column: span 2;
}

.service-technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.service-technologies img {
  max-width: 140px;
  align-self: center;
  justify-self: center;
}

.description-inner ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.description-inner ul li {
  margin-top: 10px;
}

.projects {
  padding: 100px 0 160px 0;
  margin-bottom: -60px;
}

.projects-heading {
  color: var(--b1);
  text-align: center;
}

.projects-heading h1 {
  font-size: 1.125rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: fit-content;
  padding: 20px 40px;
  border-radius: 20px 20px 0 0;
  font-weight: 700;
  background: linear-gradient(
    rgba(206, 206, 206, 0.8),
    rgba(206, 206, 206, 0.3)
  );
}

.projects-heading div {
  padding: 50px 20px;
  background: linear-gradient(rgba(227, 227, 227, 0.8), rgba(227, 227, 227, 0));
  box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.1),
    0px 30px 60px -30px rgba(0, 0, 0, 0.15),
    0px 4px 4px 0px rgba(0, 0, 0, 0.015);
  position: relative;
  z-index: 2;
}

.projects-heading h2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 800px;
}

.projects-heading h2 span {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.services-page-slide {
  position: unset;
  top: unset;
  z-index: unset;
  width: unset;
  max-width: unset;
}

.project-cover {
  width: 100%;
  max-width: 780px;
  height: 440px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 10px,
    rgba(17, 17, 26, 0.05) 0px 4px 20px;
}

.services-page-slide .slide li {
  max-width: 780px;
  background: linear-gradient(#cecece70, #cecece00);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 10px,
    rgba(17, 17, 26, 0.05) 0px 4px 20px;
  margin-top: 40px;
}

.services-page-slide h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
}

.services-page-slide p {
  text-align: center;
  line-height: 1.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  max-width: 600px;
  margin: 10px auto 20px auto;
  padding: 0 20px;
}

.services-page-slide a {
  position: relative;
}

.project-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.2s ease;
}

.project-link span {
  color: var(--w1);
  font-weight: 700;
  font-size: 1.125rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.services-page-slide a:hover .project-link {
  opacity: 1;
}

.project-link button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.project-link button:before {
  content: url(../img/svg/link.svg);
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.faq-heading h1 {
  background: var(--b1);
  color: var(--w1);
  font-weight: 600;
}

.faq-background {
  background-color: var(--b2);
  background-repeat: no-repeat;
  color: var(--w1);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.faq-background .blur {
  opacity: 0.6;
  height: 400px;
}

.faq-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 20px 80px 20px;
}

.faq-inner dl {
  margin: 0;
}

.faq button {
  background: 0 0;
  border: none;
  font-size: 1.125em;
  font-weight: 600;
  padding: 10px;
  margin: 20px 0 10px 0;
  font-family: "Raleway", sans-serif;
  color: var(--w1);
  cursor: pointer;
  text-align: left;
  transition: all 0.2s ease;
  border-radius: 8px;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq button:hover {
  background: var(--w1);
  color: var(--b1);
}

.faq button::before {
  content: "+";
  font-size: 1.75rem;
}

.faq button.active::before {
  content: "-";
}

.faq-inner dd {
  font-size: 1.125rm;
  line-height: 2rem;
  margin-left: 10px;
  color: #cecece;
  display: none;
}

.faq-inner dd.active {
  display: block;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1180px) {
  .service-image {
    max-width: 1000px;
  }
  .intro-wrapper {
    height: 500px;
  }
  .service-title {
    padding-top: 140px;
  }
  .intro-wrapper .blur {
    height: 150px;
  }
  .description-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 780px;
    margin: 0 auto;
  }
  .service-technologies {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 520px !important;
  }
  .service-technologies img {
    max-width: 100px;
  }
  .service-description .blur {
    height: 400px;
  }
}

@media (max-width: 1040px) {
  .projects-heading h1 {
    font-size: 1rem;
    padding: 18px 36px 14px 36px;
  }
  .projects-heading h2 {
    font-size: 2rem;
    max-width: 540px;
    padding: 0 20px;
  }
  .projects-heading h2 span {
    font-size: 2.75rem;
  }
}

@media (max-width: 1020px) {
  .service-image {
    max-width: 700px;
  }
  .intro-wrapper {
    height: 400px;
  }
  .intro-wrapper .blur {
    height: 100px;
    filter: blur(100px);
  }
}

@media (max-width: 740px) {
  .service-intro,
  .service-image {
    display: none;
  }
  .service-title {
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;
    padding-top: 80px;
  }
  .service-title img {
    display: none;
  }
  .service-title h1 {
    border-radius: 20px 20px 0 0;
    background: var(--b2) url("../img/svg/website-dark-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160px;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .service-technologies {
    justify-content: start;
    margin: 0 auto;
    width: 100%;
    max-width: 100% !important;
    background: none !important;
    border: none !important;
    overflow-x: auto;
    padding: 0 0 20px 0 !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .service-technologies::-webkit-scrollbar {
    height: 8px;
  }

  .service-technologies::-webkit-scrollbar-track {
    background: var(--b1);
  }
  .service-technologies::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 15px;
  }

  .service-technologies::-webkit-scrollbar-thumb:hover {
    background: var(--w1);
  }
}

@media (max-width: 515px) {
  .projects-heading h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .projects-heading h2 span {
    font-size: 2rem;
  }
  .projects-heading div {
    padding: 40px 20px;
  }
  .service-title h1 {
    font-size: 2.25rem;
    background-size: 120px;
  }
  .service-title h1 span {
    font-size: 2.5rem;
  }
}
