.services {
  padding: 280px 0 160px 0;
  margin-bottom: -60px;
  background: url("../img/webp/bg-paper.webp"), url("../img/svg/Andrix-bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 1400px;
  background-position: top, bottom -162px right -240px;
}

.services-heading,
.team-heading {
  color: var(--w1);
  text-align: center;
}

.services-heading h1,
.team-heading h1 {
  background: var(--b1);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: fit-content;
  padding: 20px 40px;
  border-radius: 20px 20px 0 0;
}

.services-heading h2,
.team-heading h2 {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 900px;
}

.services-heading div,
.team-heading > div {
  padding: 50px 20px;
  background: var(--b2);
}

.services-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 20px;
}

.services-heading h2 span,
.team-heading h2 span {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.section-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.section-title h3 {
  color: var(--b1);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.0625rem;
}

.section-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#cecece, #cecece00);
  padding: 5px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.section-icon img {
  max-height: 35px;
}

.services-inner p {
  color: var(--b1);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2rem;
  max-width: 700px;
  padding: 20px 0;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 3fr 1.15fr;
  margin-top: 30px;
}

.service-window {
  background: var(--b2);
  border-radius: 20px 0 0 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: relative;
  z-index: 4;
}

.service-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.service-title div {
  width: 130px;
  height: 130px;
  padding: 20px 35px 30px 20px;
  border-radius: 0 0 20px 0;
  background: var(--b2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title h2 {
  color: var(--w1);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3rem;
}

.service-title h2 span {
  font-size: 4rem;
}

.service-window-inner p {
  color: #aaa;
  padding-left: 20px;
  padding-right: 20px;
}

.service-steps {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px 20px 20px;
}

.service-steps video {
  border-radius: 10px;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.service-steps span {
  color: var(--w1);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

.service-steps ul {
  list-style-type: number;
  margin: 18px 0 0 0;
  padding: 0 0 0 18px;
  color: #aaa;
}

.service-steps ul li {
  padding-bottom: 15px;
  font-weight: 600;
  line-height: 1em;
}

.service-steps ul li:last-child {
  padding-bottom: 0;
}

.service-steps ul li::marker {
  color: #fff;
  font-weight: 600;
}

.services-nav {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 12px;
}

.services-nav div {
  background: #e3e3e3;
  color: var(--b1);
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(17, 17, 26, 0.05),
    0 8px 32px rgba(17, 17, 26, 0.05);
  transition-property: color, background, transform;
  transition-duration: 0.2s, 0.2s, 0.5s;
}

.services-nav div h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.services-nav div span {
  font-family: "Poppins", sans-serif;
  position: absolute;
  right: 20px;
  top: 9px;
  color: #cecece;
  font-size: 3rem;
  font-weight: 700;
  transition: 0.2s ease;
}

.services-nav div:nth-child(1) span {
  right: 25px;
}

.services-nav div.active,
.services-nav div:hover {
  background: var(--b2);
  color: var(--w1);
}

.services-nav div:hover span {
  color: var(--b1);
}

.services-nav div.active span {
  color: var(--b1);
}

.service-window-inner {
  background: var(--b1);
  border-radius: 20px;
  display: none;
  transition: opacity 0.2s ease;
}

.service-window-inner.active {
  display: block;
}

.service-window-inner.website {
  background: var(--b1) url(../img/svg/website-dark.svg) no-repeat;
  background-position: bottom -90px right -125px;
}

.service-window-inner.ecommerce {
  background: var(--b1) url(../img/svg/ecommerce-dark.svg) no-repeat;
  background-position: bottom -60px right -80px;
}

.service-window-inner.marketing {
  background: var(--b1) url(../img/svg/marketing-dark.svg) no-repeat;
  background-position: bottom -40px right -80px;
}

.service-window-inner.video {
  background: var(--b1) url(../img/svg/video-dark.svg) no-repeat;
  background-position: bottom -80px right -90px;
}

.service-window-inner.design {
  background: var(--b1) url(../img/svg/art-dark.svg) no-repeat;
  background-position: bottom -90px right -125px;
}

.service-window-inner.identity {
  background: var(--b1) url(../img/svg/design-dark.svg) no-repeat;
  background-position: bottom -70px right -100px;
}

.service-window-inner {
  position: relative;
  opacity: 0;
  z-index: 1;
}

.service-window-inner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease;
}

.service-window-inner-background.active {
  z-index: 2;
}

.service-window-inner-background.active,
.service-window-inner.active {
  opacity: 1;
}

.service-window-inner-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.services-nav::-webkit-scrollbar,
.interface-boxes::-webkit-scrollbar {
  height: 8px;
}

.services-nav::-webkit-scrollbar-track,
.interface-boxes::-webkit-scrollbar-track {
  background: #d3d3d3;
}

.services-nav::-webkit-scrollbar-thumb,
.interface-boxes::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 15px;
}

.services-nav::-webkit-scrollbar-thumb:hover,
.interface-boxes::-webkit-scrollbar-thumb:hover {
  background: var(--b1);
}

.all-services {
  margin-bottom: 80px;
}

.interfaces {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
}

.interface-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  gap: 40px;
}

.interface-boxes div {
  width: 160px;
  height: 160px;
  background: #e3e3e3;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(17, 17, 26, 0.05),
    0 8px 32px rgba(17, 17, 26, 0.05);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}

.interface-boxes div:hover,
.interface-boxes div.active {
  background: var(--b2);
}

.interface-boxes p {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  padding: 20px;
  position: relative;
  z-index: 2;
  transition: 0.3s ease;
}

.interface-boxes div:hover p,
.interface-boxes div.active p {
  color: var(--w1);
}

.interface-boxes span {
  font-size: 14em;
  color: #cecece;
  font-weight: 700;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s ease;
}

.interface-boxes div:hover span,
.interface-boxes div.active span {
  color: var(--b1);
}

.interface-boxes div:nth-child(1) span,
.interface-boxes div:nth-child(2) span {
  bottom: -60px;
  right: -38px;
}

.interface-boxes div:nth-child(3) span {
  font-size: 13em;
  bottom: -45px;
  right: -30px;
}

.interface-boxes div:nth-child(4) span {
  bottom: -45px;
  right: -31px;
}

.interface-preview {
  background: var(--w1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 48px 100px rgba(17, 12, 46, 0.1);
  max-width: 720px;
  transition: 0.3s ease, 0.5;
}

.preview-image {
  border-radius: 20px 0 0 20px;
  width: 100%;
  max-width: 260px;
  height: 360px;
  transition: 0.3s ease;
}

.interface-preview-content {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 100%;
}

.interface-preview-content span:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  color: var(--b2);
}

.interface-preview-content span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
  color: #aaa;
}

.separator {
  display: block;
  height: 1px;
  width: 100%;
  background: #aaa;
  margin: 20px 0;
  opacity: 0.4;
}

.interface-preview-content p {
  font-size: 1rem;
  line-height: 1.75em;
  max-width: 300px;
  padding: 0 0 20px 0;
  font-weight: 500;
}

.interface-preview-content .button {
  padding: 12px 24px;
  background: var(--b1);
  max-width: fit-content;
  text-decoration: none;
  border-radius: 12px;
  color: var(--w1);
  transition: 0.3s ease;
}

.interface-preview.simple .preview-image {
  background: url(../img/webp/simple.webp);
  background-size: cover;
  background-position: center;
}

.interface-preview.elegant {
  border-radius: 0;
  box-shadow: 0 5px 20px rgba(17, 12, 46, 0.15);
}

.interface-preview.elegant .preview-image {
  max-width: 280px;
}

.interface-preview.elegant .button {
  border-radius: 0;
  text-transform: uppercase;
}

.interface-preview.elegant .preview-image {
  background: url(../img/webp/elegant.webp);
  background-size: cover;
  background-position: center;
  border-radius: 0;
  box-shadow: inset 0 0 0 8px var(--w1);
}

.interface-preview.elegant .interface-preview-content span:nth-child(1) {
  margin-bottom: 5px;
}

.interface-preview.elegant .interface-preview-content span:nth-child(1),
.interface-preview.elegant .interface-preview-content span:nth-child(2),
.interface-preview.elegant .interface-preview-content p {
  font-family: "Lora", serif;
}

.interface-preview.fun .interface-preview-content span:nth-child(1),
.interface-preview.fun .interface-preview-content span:nth-child(2),
.interface-preview.fun .interface-preview-content p {
  font-family: "Livvic", sans-serif;
  max-width: 280px;
}

.interface-preview.modern .interface-preview-content span:nth-child(1),
.interface-preview.modern .interface-preview-content span:nth-child(2),
.interface-preview.modern .interface-preview-content p {
  font-family: "Roboto Mono", monospace;
}

.interface-preview.fun {
  box-shadow: 0 48px 100px rgba(17, 12, 46, 0), inset 0 0 0 4px var(--b1);
}

.interface-preview.fun .preview-image {
  background: url(../img/webp/fun.webp);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transform: scale(1.07);
  margin: 0 10px 0 9px;
  box-shadow: inset 0 0 0 4px var(--b1);
}

.interface-preview.fun .interface-preview-content span:nth-child(1) {
  margin-bottom: 5px;
}

.interface-preview.fun .button {
  border-radius: 40px;
  background: none;
  color: var(--b1);
  border: 3px solid var(--b1);
  font-weight: 700;
  transition: 0.2s ease;
}

.interface-preview.fun .button:hover {
  background: var(--b1);
  color: var(--w1);
}

.interface-preview.modern {
  border-radius: 0;
  box-shadow: 0 48px 100px rgba(17, 12, 46, 0.1), inset 0 140px 0 var(--b2);
}

.interface-preview.modern .interface-preview-content span:nth-child(1) {
  color: var(--w1);
  font-weight: 500;
  letter-spacing: -1px;
}

.interface-preview.modern .button {
  font-family: "Roboto Mono", monospace;
  border-radius: 0;
  text-transform: uppercase;
}

.interface-preview.modern .preview-image {
  background: url(../img/webp/modern.webp);
  background-size: cover;
  background-position: center;
  border-radius: 0;
  transform: scale(0.8) translateY(-15px);
  box-shadow: 8px 8px 0 var(--b2);
}

@media (max-width: 1400px) {
  .services {
    background-size: cover, 1100px;
    background-position: top, bottom -130px right -240px;
  }
}

@media (max-width: 1120px) {
  .service-window-inner h2 span {
    font-size: 3.5rem;
  }
  .interfaces {
    gap: 40px;
  }
}

@media (max-width: 1040px) {
  .services {
    padding: 220px 0 160px 0;
  }
  .services-inner {
    padding: 40px 20px;
  }
  .services-wrapper {
    grid-template-columns: 1fr;
  }
  .service-window {
    border-radius: 20px 20px 0 0;
  }
  .services-nav {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .services-nav div {
    border-radius: 0 0 20px 20px;
    min-width: 230px;
  }
  .service-title div {
    width: 130px;
    height: 130px;
    padding: 0;
    background: none;
  }
  .service-title {
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: var(--b2);
  }
  .service-window-inner.website {
    background: var(--b1) url(../img/svg/website-dark.svg) no-repeat;
    background-size: 440px 440px;
    background-position: bottom -100px right -100px;
  }
  .service-window-inner.ecommerce {
    background-position: bottom -100px right -80px;
  }
  .service-steps {
    justify-content: center;
  }
  .service-window-inner p {
    margin: 0 auto;
    max-width: 595px;
  }
  .services-heading h1,
  .team-heading h1 {
    font-size: 1rem;
    padding: 18px 36px 14px 36px;
  }
  .services-heading h2,
  .team-heading h2 {
    font-size: 2rem;
    max-width: 700px;
    padding: 0 20px;
  }
  .services-heading h2 span,
  .team-heading h2 span {
    font-size: 2.75rem;
  }
  .section-title {
    justify-content: center;
  }
  .section-title h3 {
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
  }
  .service-description {
    margin: 0 auto;
    text-align: center;
  }
  .interfaces {
    display: block;
    margin-top: 10px;
  }
  .interface-preview {
    margin: 0 auto;
  }
  .interface-boxes {
    display: flex;
    overflow-x: auto;
    max-width: 760px;
    margin: 0 auto 30px auto;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .interface-boxes div {
    min-width: 160px;
  }
  .services {
    background-size: cover, 1000px;
    background-position: top, bottom -120px right -240px;
  }
}

@media (max-width: 740px) {
  .service-steps {
    display: block;
  }
  .service-steps video {
    display: block;
    max-width: 320px;
    width: 100%;
    margin: 0 auto 20px auto;
  }
  .service-steps {
    max-width: 310px;
    margin: 0 auto;
  }
  .service-window-inner p {
    max-width: 310px;
    font-size: 1rem;
  }
  .service-title div {
    display: none;
  }
  .service-title h2 {
    text-align: center;
    font-size: 2.25rem;
  }
  .service-title h2 span {
    font-size: 2.25rem;
  }
  .section-title {
    flex-direction: column;
    gap: 10px;
  }
  .service-description {
    text-align: left;
  }
  .all-services .service-description {
    padding-bottom: 0 !important;
    font-size: 1rem;
  }
  .interfaces-types .service-description {
    font-size: 1rem;
  }
  .interface-preview {
    flex-direction: column;
  }
  .preview-image {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 20px 20px 0 0;
    height: 240px;
  }
  .interface-preview-content {
    width: unset;
    padding: 30px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .interface-preview.fun .preview-image {
    transform: scale(1);
    border-radius: 20px 20px 0 0;
  }
  .interface-preview.modern .interface-preview-content span:nth-child(1) {
    color: var(--b1);
  }
  .interface-preview.modern .preview-image {
    transform: unset;
    box-shadow: 0 8px 0 var(--b2);
  }
  .services {
    background-size: cover, 700px;
    background-position: top, bottom -80px right -160px;
  }
  .service-steps ul li {
    font-size: 1rem;
  }
  .section-title h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 710px) {
  .services {
    padding: 320px 0 120px 0;
  }
}

@media (max-width: 515px) {
  .services {
    padding: 400px 0 120px 0;
  }
  .services-heading h2,
  .team-heading h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .services-heading div,
  .team-heading > div {
    padding: 40px 20px;
  }
  .services-heading h2 span,
  .team-heading h2 span {
    font-size: 2rem;
  }
}
