.slide-wrapper {
  overflow: hidden;
  position: absolute;
  top: calc(100% - 165px);
  z-index: 3;
  width: 100%;
  max-width: 100%;
}
.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  list-style-type: none;
  flex-shrink: 0;
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  overflow: hidden;
  filter: grayscale(100%) contrast(85%);
  transform: scale(0.8);
  transition: 0.4s;
}
.slide img {
  display: block;
}
.slide li.active {
  filter: grayscale(0%) contrast(100%);
  transform: scale(1);
}

@media (max-width: 1040px) {
  .slide li {
    max-width: 660px;
  }
}

@media (max-width: 710px) {
  .slide li {
    max-width: 460px;
  }
  .slide-wrapper {
    top: calc(100% - 230px);
  }
}

@media (max-width: 515px) {
  .slide li {
    max-width: 340px;
  }
  .slide {
    padding: 0 20px;
  }
}
